<!DOCTYPE html>
<html>
        <head>
                <title>Labis screenshots</title>
        </head>
        <body>
		<p>Labis screenshots</p>
        	 <div id="shots">
			<IMG SRC="Labis1.png" alt="Labis1"/>
			<br/>
			<IMG SRC="Labis2.png" alt="Labis2"/>
			<br/>
			<IMG SRC="Labis3.png" alt="Labis3"/>
			<br/>
			<IMG SRC="Labis4.png" alt="Labis4"/>
			<br/>
			<IMG SRC="Labis5.png" alt="Labis5"/>
			<br/>
			<IMG SRC="Labis6.png" alt="Labis6"/>
			<br/>
			<IMG SRC="Labis7.png" alt="Labis7"/>
			<br/>
			<IMG SRC="Labis8.png" alt="Labis8"/>
			<br/>
			<IMG SRC="Labis9.png" alt="Labis9"/>
			<br/>
			<IMG SRC="Labis1.png" alt="Labis1"/>
			<br/>
			<IMG SRC="Labis10.png" alt="Labis10"/>
		</div>
        </body>
</html>
