<!DOCTYPE html>
<html>
        <head>
                <title>Labis screenshots</title>
        </head>
        <body>
		<p>Labis screenshots</p>
        	 <div id="shots">
			<img src="Labis1.png" alt="Labis1"/>
			<br/>
			<img src="Labis2.png" alt="Labis2"/>
			<br/>
			<img src="Labis3.png" alt="Labis3"/>
			<br/>
			<img src="Labis4.png" alt="Labis4"/>
			<br/>
			<img src="Labis5.png" alt="Labis5"/>
			<br/>
			<img src="Labis6.png" alt="Labis6"/>
			<br/>
			<img src="Labis7.png" alt="Labis7"/>
			<br/>
			<img src="Labis8.png" alt="Labis8"/>
			<br/>
			<img src="Labis9.png" alt="Labis9"/>
			<br/>
			<img src="Labis10.png" alt="Labis10"/>
			<br/>
			<img src="Labis11.png" alt="Labis11"/>
			<br/>
			<img src="Labis12.png" alt="Labis12"/>
		</div>
        </body>
</html>
